* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}


body {
    padding: 100px;
}

#canvas {
    border: 5px solid green;
    position: relative;
}

.btn {
    width: 410px;
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
}

.btn button{
    padding: 25px;
    border-radius: 15px;
    border: 1px solid green;
    background-color: rgba(240, 248, 255, 0);
    
}